{% extends 'blogAPP/base.html' %}
{% load staticfiles %}
{% block title %}学习笔记{% endblock %}
{% block css %}
    <link href="{% static '/css/study_note.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="t_nav"><a href="{% url 'blogAPP:index' %}" class="n1">网站首页</a><a href="/" class="n2">学无止境</a></h1>

            {#推荐#}
            <div class="sidebar">
                {#推荐文章#}
                <div class="tuijian">
                    <h2 class="hometitle">推荐文章</h2>
                
                    <ul class="tjpic">
                        <li><img src="{{ Recommend_note_topic.Note_scr }}"></li>
                        <p><a href="{{ Recommend_note_topic.Note_href }}">{{ Recommend_note_topic.Note_name }}</a></p>
                    </ul>
                
                    {% for Recommend_note in Recommend_notes %}
                    <ul class="sidenews">
                        <li>
                            <i><img src="{{ Recommend_note.Note_scr }}"></i>
                            <p><a href="{{ Recommend_note.Note_href }}">{{ Recommend_note.Note_name}}</a></p>
                            <span>{{ Recommend_note.Create_time }}</span>
                        </li>
                    </ul>
                    {% endfor %}

                </div>

                {#标签云#}
                <div class="cloud">
                    <h2 class="hometitle">标签云</h2>
                    <ul>
                        <a>校园生活</a>
                        <a>html5</a>
                        <a>Django</a>
                        <a>青春</a>
                        <a>温暖</a>
                        <a>阳光</a>
                        <a>Python</a>
                    </ul>
                </div>

                {#友情链接#}
                <div class="links">
                    <h2 class="hometitle">友情链接</h2>
                    <ul>
                        <li><a href="{% url 'blogAPP:index' %}" target="_blank">Urge博客</a></li>
                    </ul>
                </div>

                {#关注信息页#}
                <div class="guanzhu" id="follow-us">
                    <h2 class="hometitle">关注我吧 么么哒！</h2>
                    <ul>
                        <li class="sina"><a href="https://weibo.com/5554788309/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1" target="_blank"><span>新浪微博</span>Urge博客</a></li>
                        <li class="qq"><a target="_blank"><span>QQ号</span>1203508972</a></li>
                        <li class="email"><a target="_blank"><span>邮箱帐号</span>urge1219@foxmail.com</a></li>
                        <li class="wxgzh"><a target="_blank"><span>微信公众号</span>Urge丶L</a></li>
                    </ul>
                </div>
            </div>
        {#博客盒子#}

            <div style="box-sizing: border-box;width: 100%;">

                <div class="blogsbox">
                    {%for note in notes%}
                    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
                        <h3 class="blogtitle"><a href="{{ note.Note_href }}" target="_blank">{{ note.Note_name }}</a></h3>
                        <span class="blogpic"><a href="{{ note.Note_href }}" title=""><img src="{{ note.Note_scr }}" alt=""></a></span>
                        <p class="blogtext">{{ note.Note_summary }}... </p>
                        <div class="bloginfo">
                            <ul>
                                <li class="author"><a href="/">Urge</a></li>
                                <li class="lmname"><a href="/">心得笔记</a></li>
                                <li class="timer">{{ note.Create_time }}</li>
                            </ul>
                        </div>
                    </div>
                    {%endfor%}
                    <div class="page">
                        <a class="previous">上一页</a>
                        {% for page in notes.paginator.page_range %}
                            {% if page == notes.number %}
                                <a class="sel">{{ page }}</a>
                            {% else %}
                                <a href="{% url 'blogAPP:study_notes_page' page %}">{{ page }}</a>
                            {% endif %}

                        {% endfor %}
                        <a class="next">下一页</a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static '/js/study_note.js' %}"></script>
{% endblock %}
